/* styles.module.css */
.backgroundContainer {
  background-image: url('/beach.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 880px;
  height: 880px;
  position: fixed;
  z-index: -1; /* Move the container to the background */
  overflow: auto;
}

.overlay {
  background-color: rgba(99, 89, 89, 0.5); /* Adjust as needed */
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2; /* Place the overlay below the background */
}
.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: auto;
}
.title {
  display: flex;
  justify-content: center;
}

.contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}